# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.SportsSln.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\edwar\RiderProjects\SportsSln\.idea\.idea.SportsSln\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
